<!DOCTYPE html>
<html>
<head>
  <meta chatset='utf-8'>
  <title>TODO APP</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
    <h1>What a TODO</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/items/new">New Item</a></li>
        <!-- <li><a href="/items/new">New Item</a></li> -->
      </ul>

    </nav>

  </header>
  <%= yield %> 
</body>
</html>