<section>
  <article>
    <dl>
      <dt>Item:</dt>
      <dd><%= @item['item'] %></dd>
    </dl>
    <dl>
      <dt>Details:</dt>
      <dd><%= @item['details'] %></dd>
    </dl>

  </article>
  <li><a href="/items/:id/edit">edit Item</a></li>


</section>